.music-toolbox-note {
  padding: 4px;
}

.music-toolbox-note:hover {
  filter: drop-shadow(2px 4px 6px black);
}

.note-stem {
  stroke: #000000;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.note-head {
  stroke: #000000;
  transform: skewY(-15deg);
}

.note-flag {
  stroke: #000000;
}

.symbol-fill {
  fill: #000000;
}

.single-note-height {
  height: 32px;
}
